// Font
// ---------------------------------------------------------------------------------------
@function calculate-rem-size($size) {
  $rem-size: $size / 16px;
  @return $rem-size * 1rem;
}

@mixin font-family($font: $helvetica) {
  font-family: $font;
}

@mixin font-size($size: $font-base) {
  font-size: $size;
  font-size: calculate-rem-size($size);
}

@mixin font-style($style: normal) {
  font-style: $style;
}

@mixin font-weight($weight: normal) {
  font-weight: $weight;
}

@mixin line-height($line-height: $font-base) {
  line-height: $line-height;
  line-height: calculate-rem-size($line-height);
}

@mixin letter-spacing($letter-spacing: normal) {
  letter-spacing: $letter-spacing;
}

// Text
// ---------------------------------------------------------------------------------------
@mixin text($arguments: false) {
  // Arguments
  @include text-arguments($arguments);
}

@mixin text-align($align: left) {
  text-align: $align;
}

@mixin text-colour($colour: $white) {
  color: $colour;
}

@mixin text-decoration($decoration: none) {
  text-decoration: $decoration;
}

@mixin text-ellipsis($width: 100%) {
  display: inline-block;
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin text-font($font: $helvetica) {
  @include font-family($font);
}

@mixin text-hide {
  border: 0;
  font: 0 / 0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

@mixin text-letter-spacing($letter-spacing: normal) {
  @include letter-spacing($letter-spacing);
}

@mixin text-line-height($line-height: $font-base) {
  @include line-height($line-height);
}

@mixin text-size($size: $font-base) {
  @include font-size($size);
}

@mixin text-squared($size) {
  width: $size;
  height: $size;
  line-height: $size;
  text-align: center;
}

@mixin text-style($style: normal) {
  @include font-style($style);
}

@mixin text-weight($weight: normal) {
  @include font-weight($weight);
}
