footer.footer
    .wrapper
        .row
            .col.col--1-3
                ul
                    li
                        a(href="") Vel alia malorum
                    li
                        a(href="") nonumes eu, et
                    li
                        a(href="") vidisse praesent conceptam
                    li
                        a(href="") vix, eu eam quem mnesarchum.
                    li
                        a(href="") Ea nam purto
                    li
                        a(href="") labore salutatus,

            .col.col--1-3
                ul
                    li
                        a(href="") qui ex ceteros
                    li
                        a(href="") iriure ponderum duo
                    li
                        a(href="") Assum prodesset percipitur
                    li
                        a(href="") patrioque pri ex, mutat
                    li
                        a(href="") petentium et eos. Choro
                    li
                        a(href="") Assum prodesset

            .col.col--1-3
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quo, voluptas. Excepturi consequatur, delectus necessitatibus voluptates, numquam aliquid asperiores aspernatur eveniet error quibusdam, ut praesentium. Odit quas, maiores quisquam cum?

script(src="bundle.js")
